{% extends 'volunteer_base.html' %}
{% block main  %}

<div class="row">
    <div class="col-sm-3 p-2">
        <div class="card shadow">
            <div class="card-body">
            <h4 class="text-success">New Donation Collection Req.</h4>
            <h5>{{totalCollectionReq}}</h5>
        </div>
        <div class="card-footer">
            <a href="{% url 'collection_req' %}">View Details >></a>
        </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="text-success">Total Donation Received</h4>
                <h5>{{totalRecDonation}}</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'donationrec_volunteer' %}">View Details >></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow">
            <div class="card-body">
            <h4 class="text-success">Total Donation NotReceived</h4>
            <h5>{{totalNotRecDonation}}</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'donationnotrec_volunteer' %}">View Details >></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-2">
        <div class="card shadow">
            <div class="card-body">
            <h4 class="text-success">Total Donation Delivered</h4>
            <h5> {{totalDonationDelivered}}</h5>
            </div>
            <div class="card-footer">
                <a href="{% url 'donationdelivered_volunteer' %}">View Details >></a>
            </div>
        </div>
    </div>


</div>



<style>
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid lightblue;
  border-radius: 5px;
}

</style>


<footer class="site-footer">
      <div class="container">

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p style = "font-size : 30pt ; color : #FF0000 ; font-weight : bold">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved <span style = "color : brown">|</span> <span style = "color : #006400">This website is made with <i class="fas fa-heart icon-heart text-danger" aria-hidden="true"></i> by </span><a class= "glow" href="https://abdullakhan.com/" target="_blank" >Max-Tech</a>

            </p>
          </div>

        </div>
      </div>
    </footer>


{% endblock  %}
